[Unit]
Description=OpenSSH server daemon for ansible service user
Documentation=man:sshd(8) man:sshd_config(5)

[Service]
ExecStart=/usr/sbin/sshd -D -f /etc/ssh/sshd_config2
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
Alias=sshd2.service
